.listItemContainer {
  background-color: whitesmoke;
  padding: 1%;
}

.image {
  width: 50% !important;
  min-height: 20vh !important;
  margin-left: auto;
  margin-right: auto;
}

.infoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
}

.name {
  color: #000000;
  margin: 0;
  font-size: 1.5rem;
}

.id {
  margin: 0;
  font-size: 1.5rem;
}

@media (min-width: 1025px) {
  .listItemContainer {
    width: 25vw;
  }
}
